In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\mirza\Desktop\datasets\data.csv")

In [5]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryName    195 non-null    object
 1   CountryCode    195 non-null    object
 2   BirthRate      195 non-null    float64
 3   InternetUsers  195 non-null    float64
 4   IncomeGroup    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB
None

In [6]:
df.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [7]:
df.tail()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [8]:
print("\nDescriptive Statistics:")
print(df[['BirthRate', 'InternetUsers']].describe())

Descriptive Statistics:
        BirthRate  InternetUsers
count  195.000000     195.000000
mean    21.469928      42.076471
std     10.605467      29.030788
min      7.900000       0.900000
25%     12.120500      14.520000
50%     19.680000      41.000000
75%     29.759500      66.225000
max     49.661000      96.546800

In [9]:
# Missing values check
print(df.isnull().sum())

CountryName      0
CountryCode      0
BirthRate        0
InternetUsers    0
IncomeGroup      0
dtype: int64

In [10]:
# Grouping: Average Birth Rate by Income Group
print(df.groupby('IncomeGroup')['BirthRate'].mean())

IncomeGroup
High income            12.753433
Low income             37.238267
Lower middle income    26.309140
Upper middle income    18.740646
Name: BirthRate, dtype: float64

In [11]:
# Grouping: Average Internet Users by Income Group
print(df.groupby('IncomeGroup')['InternetUsers'].mean())

IncomeGroup
High income            74.231684
Low income              5.988333
Lower middle income    22.366386
Upper middle income    40.279577
Name: InternetUsers, dtype: float64

In [12]:
# Filtering: Countries with Internet Users > 80%
high_internet = df[df['InternetUsers'] > 80]
print("\nCountries with High Internet Usage (>80%):")
print(high_internet[['CountryName', 'InternetUsers']])

Countries with High Internet Usage (>80%):
              CountryName  InternetUsers
4    United Arab Emirates       88.00000
8               Australia       83.00000
9                 Austria       80.61880
12                Belgium       82.17020
17                Bahrain       90.00004
22                Bermuda       95.30000
30                 Canada       85.80000
31            Switzerland       86.34000
45                Germany       84.17000
47                Denmark       94.62970
56                Finland       91.51440
58                 France       81.91980
61         United Kingdom       89.84410
84                Iceland       96.54680
89                  Japan       89.71000
95            Korea, Rep.       84.77000
102         Liechtenstein       93.80000
106            Luxembourg       93.77650
130           Netherlands       93.95640
131                Norway       95.05340
133           New Zealand       82.78000
145                 Qatar       85.30000
152             Singapore       81.00000
163                Sweden       94.78360
181         United States       84.20000

In [ ]:
df[df.IncomeGroup  == 'High income']

               CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
0                    Aruba         ABW     10.244          78.90  High income
4     United Arab Emirates         ARE     11.044          88.00  High income
5                Argentina         ARG     17.716          59.90  High income
7      Antigua and Barbuda         ATG     16.447          63.40  High income
8                Australia         AUS     13.200          83.00  High income
..                     ...         ...        ...            ...          ...
174    Trinidad and Tobago         TTO     14.590          63.80  High income
180                Uruguay         URY     14.374          57.69  High income
181          United States         USA     12.500          84.20  High income
184          Venezuela, RB         VEN     19.842          54.90  High income
185  Virgin Islands (U.S.)         VIR     10.700          45.30  High income

[67 rows x 5 columns]

In [19]:
df[df.IncomeGroup  == 'Low income']

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
1,Afghanistan,AFG,35.253,5.90,Low income
11,Burundi,BDI,44.151,1.30,Low income
13,Benin,BEN,36.440,4.90,Low income
14,Burkina Faso,BFA,40.551,9.10,Low income
29,Central African Republic,CAF,34.076,3.50,Low income
38,Comoros,COM,34.326,6.50,Low income
52,Eritrea,ERI,34.800,0.90,Low income
55,Ethiopia,ETH,32.925,1.90,Low income
64,Guinea,GIN,37.337,1.60,Low income
65,"Gambia, The",GMB,42.525,14.00,Low income
66,Guinea-Bissau,GNB,37.503,3.10,Low income
77,Haiti,HTI,25.345,10.60,Low income
93,Cambodia,KHM,24.462,6.80,Low income
99,Liberia,LBR,35.521,3.20,Low income
111,Madagascar,MDG,34.686,3.00,Low income
115,Mali,MLI,44.138,3.50,Low income
120,Mozambique,MOZ,39.705,5.40,Low income
123,Malawi,MWI,39.459,5.05,Low income
127,Niger,NER,49.661,1.70,Low income
132,Nepal,NPL,20.923,13.30,Low income
148,Rwanda,RWA,32.689,9.00,Low income
154,Sierra Leone,SLE,36.729,1.70,Low income
156,Somalia,SOM,43.891,1.50,Low income
158,South Sudan,SSD,37.126,14.10,Low income
167,Chad,TCD,45.745,2.30,Low income
168,Togo,TGO,36.080,4.50,Low income
177,Tanzania,TZA,39.518,4.40,Low income
178,Uganda,UGA,43.474,16.20,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.20,Low income
194,Zimbabwe,ZWE,35.715,18.50,Low income

In [20]:
df.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

In [21]:
df.IncomeGroup.nunique()

4