In [22]:
import pandas as pd

In [23]:
df = pd.read_csv(r"C:\Users\mirza\Desktop\datasets\data.csv")

In [24]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryName    195 non-null    object
 1   CountryCode    195 non-null    object
 2   BirthRate      195 non-null    float64
 3   InternetUsers  195 non-null    float64
 4   IncomeGroup    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB
None

In [25]:
df.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [26]:
df.tail()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [27]:
print("\nDescriptive Statistics:")
print(df[['BirthRate', 'InternetUsers']].describe())

Descriptive Statistics:
        BirthRate  InternetUsers
count  195.000000     195.000000
mean    21.469928      42.076471
std     10.605467      29.030788
min      7.900000       0.900000
25%     12.120500      14.520000
50%     19.680000      41.000000
75%     29.759500      66.225000
max     49.661000      96.546800

In [28]:
# Missing values check
print(df.isnull().sum())

CountryName      0
CountryCode      0
BirthRate        0
InternetUsers    0
IncomeGroup      0
dtype: int64

In [29]:
# Grouping: Average Birth Rate by Income Group
print(df.groupby('IncomeGroup')['BirthRate'].mean())

IncomeGroup
High income            12.753433
Low income             37.238267
Lower middle income    26.309140
Upper middle income    18.740646
Name: BirthRate, dtype: float64

In [30]:
# Grouping: Average Internet Users by Income Group
print(df.groupby('IncomeGroup')['InternetUsers'].mean())

IncomeGroup
High income            74.231684
Low income              5.988333
Lower middle income    22.366386
Upper middle income    40.279577
Name: InternetUsers, dtype: float64

In [31]:
# Filtering: Countries with Internet Users > 80%
high_internet = df[df['InternetUsers'] > 80]
print("\nCountries with High Internet Usage (>80%):")
print(high_internet[['CountryName', 'InternetUsers']])

Countries with High Internet Usage (>80%):
              CountryName  InternetUsers
4    United Arab Emirates       88.00000
8               Australia       83.00000
9                 Austria       80.61880
12                Belgium       82.17020
17                Bahrain       90.00004
22                Bermuda       95.30000
30                 Canada       85.80000
31            Switzerland       86.34000
45                Germany       84.17000
47                Denmark       94.62970
56                Finland       91.51440
58                 France       81.91980
61         United Kingdom       89.84410
84                Iceland       96.54680
89                  Japan       89.71000
95            Korea, Rep.       84.77000
102         Liechtenstein       93.80000
106            Luxembourg       93.77650
130           Netherlands       93.95640
131                Norway       95.05340
133           New Zealand       82.78000
145                 Qatar       85.30000
152             Singapore       81.00000
163                Sweden       94.78360
181         United States       84.20000